<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
     C-Track
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
    <form [formGroup]="loginform">
      <ion-avatar class="avatar">
        <img src="./assets/avatar.png">
      </ion-avatar>

      <ion-item class="ion-text-center" lines="none">       
          <ion-label  class="signin_text">Your Account</ion-label>
       </ion-item>

      <ion-item>
        <ion-label position="floating">Phone number *</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Password *</ion-label>
          <ion-input pattern="[0-9]"></ion-input>
      </ion-item>
      
      <ion-button (click) ="GoToHome()"  [disabled]="!loginform.valid" expand="full" color="secondary">Login</ion-button>
      <p>
        No account ?  <a (click) ="gotoregister()"  class="create_color">Create account</a>
      </p>
</form>
</ion-content>

  



