<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Payment History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of paidhistory">
      <!-- <ion-chip slot="start" outline color="sucess">
        <ion-label>{{item.paidDate | date: 'MMM'}}</ion-label>
      </ion-chip>       -->
      <ion-avatar slot="start">
        <text-avatar [text]="item.name" [signlecolor] = "true" ></text-avatar>
      </ion-avatar>   
    <ion-label>      
      <ion-label>{{item.paidDate | date: 'dd/MM/yyyy'}}</ion-label> 
      <ion-label color="medium"> {{item.comments}}</ion-label>                    
    </ion-label>
    <ion-chip slot="end" outline color="secondary">
      <ion-label>{{item.paidAmount}}</ion-label>
    </ion-chip>           
  </ion-item>     
</ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary" (click) ="AddPayment()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>
