<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   
  <ion-card>
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Jan 2020</ion-label> 
      <ion-label>Amount 30000</ion-label>      
    </ion-item> 
  
    <ion-item>
      <ion-avatar slot="start">
        <text-avatar [signlecolor] = "true"></text-avatar>
      </ion-avatar>
      <ion-label>
        <ion-label>Jan 2020   </ion-label> 
        <ion-label color="medium">Kiran  </ion-label> 
      </ion-label> 
      <ion-label>300000</ion-label> 
      <ion-icon name="more"></ion-icon>     
    </ion-item> 
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Jan 2020</ion-label> 
      <ion-label>Amount 30000</ion-label>      
    </ion-item>  
  </ion-card>
</ion-content>
