<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
    <ion-title>People</ion-title>   
    <ion-button color="sec" slot="end" (click)="onNotificationsClick()"  class="notification-icon-button">
      <ion-badge class="notification-badge">10</ion-badge>
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
      <ion-fab  *ngIf="chittidetails.rolePid ==1" horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="secondary">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            
            <ion-fab-button  color="light" (click)="gotoPaymenttaken()">
              <ion-icon name="card"></ion-icon>
            </ion-fab-button>

            <ion-fab-button color="light" (click)="openContacts()">
              <ion-icon name="contacts"></ion-icon>
            </ion-fab-button>

            <ion-fab-button color="light" (click)="AddPeople()">
              <ion-icon name="contact">add</ion-icon>
            </ion-fab-button>              
          </ion-fab-list>
        </ion-fab>

      <ion-list>
        <ion-item-sliding *ngFor="let item of items">
          
        <ion-item  (click)="paymenthistory(item.peoplePID)">
        <ion-avatar slot="start">
          <text-avatar [text]="item.name"></text-avatar>
        </ion-avatar>     
        <ion-label>      
          <ion-label>{{item.name}}</ion-label> 
          <ion-label color="medium">Ph:{{item.phoneNumber}}</ion-label>                        
        </ion-label> 
       
        <ion-chip slot="end" outline color="danger">
         <ion-label color="danger">{{item.pendingAmount}}</ion-label>   
        </ion-chip>
              
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option  *ngIf="chittidetails.rolePid ==1" color ="danger" (click)="DeletePeople(item)">
          <ion-icon  slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>       
        <ion-item-option (click)="AddPayment(item)">
          <ion-icon  slot="icon-only" name="card"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>     
    </ion-list>

</ion-content>
