<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="secondary">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button color="light" (click)="openContacts()">
              <ion-icon name="contacts"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="card"></ion-icon>
            </ion-fab-button>            
          </ion-fab-list>
        </ion-fab>

      <ion-list>
        <ion-item *ngFor="let item of items" (click)="paymenthistory()">
        <ion-avatar slot="start">
          <img src="./assets/avatar.png">
        </ion-avatar>
        <ion-label>      
          <ion-label>{{item}}</ion-label> 
          <ion-label color="medium">8884684500</ion-label>                 
        </ion-label>  
        <ion-chip slot="end" outline color="secondary">
          <ion-label>11</ion-label>
        </ion-chip>
              
      </ion-item>     
    </ion-list>

</ion-content>
