<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
      <ion-fab  *ngIf="chittidetails.rolePid ==1" horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button color="secondary">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            
            <ion-fab-button  color="light" (click)="gotoPaymenttaken()">
              <ion-icon name="card"></ion-icon>
            </ion-fab-button>

            <ion-fab-button color="light" (click)="openContacts()">
              <ion-icon name="contacts"></ion-icon>
            </ion-fab-button>

            <ion-fab-button color="light" (click)="AddPeople()">
              <ion-icon name="contact">add</ion-icon>
            </ion-fab-button>              
          </ion-fab-list>
        </ion-fab>

      <ion-list>
        <ion-item *ngFor="let item of items" (click)="paymenthistory(item.peoplePID)">
        <ion-avatar slot="start">
          <img src="./assets/avatar.png">
        </ion-avatar>
        <ion-label>      
          <ion-label>{{item.name}}</ion-label> 
          <ion-label color="medium">{{item.phoneNumber}}</ion-label>                 
        </ion-label>  
        <ion-chip slot="end" outline color="secondary">
          <ion-label>{{item.pendingAmount}}</ion-label>
        </ion-chip>
              
      </ion-item>     
    </ion-list>

</ion-content>
