<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of chittisdetail" (click)="ChittiClick(item)">
          <ion-avatar slot="start">
            <img src="./assets/rupee.jpg">
          </ion-avatar> 
          <ion-label>
          <ion-label>{{item.name}}</ion-label>          
          <ion-label color="medium">Chitti : {{item.amount}}</ion-label>
          <ion-label color="medium">Pending amount : {{item.pendingAmount}}</ion-label>    
        </ion-label>       
           
            <ion-chip slot="end" outline color="secondary">
              <ion-label>{{item.pendingMonths}}</ion-label>
            </ion-chip>           
        </ion-item>
      </ion-list>

  <ion-fab  horizontal="end"  vertical="bottom" slot="fixed">
    <ion-fab-button  color="secondary" (click)="GoToNewChitti()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
